$primary: #515BD4;
$body-bg: #FAFBFC;
$navbar-light-color : #fff;
$text-muted: #C7C4C4;
$link-color: #8c849f;
$text-color: #3A517D;



*,::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    color: $text-color;
}



.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus
{
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #515BD4;
    display: block;
    transition: all .5s;
}

.middle-bar {
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;

}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: opacity(0);

}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 10%;

}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: opacity(100%);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler .collapsed .toggler-icon {
    background-color: #777;
}

.nav-link {
    border-radius: 0.625rem;
    transition: all .2s ease;
        &:hover {
            background: linear-gradient(95.66deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.3) 100%);
            color: $primary !important;

    }
}
.bgcolor.scrolled {
    background: linear-gradient(120.48deg, rgba(255, 255, 255, 0.5) 1.35%, rgba(255, 255, 255, 0.2) 98.97%) !important;
    box-shadow: 0px 6px 12px rgba(208, 208, 208, 0.65);
    backdrop-filter: blur(10px);

}

.btn-primary {
    transition: transform .2s ease;
        :hover {
            transform: scale(1.3);
        }
}

.font-500 {
    font-weight: 500;
}

.icon-game {
    background: linear-gradient(120.48deg, rgba(255, 255, 255, 0.5) 1.35%, rgba(255, 255, 255, 0.2) 98.97%);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 96px;
    height: 96px;
    bottom: -15%;
    left: 15%;
    border-radius: 0.75rem;

}


#hero {
    background-image: url('/img/background-colorfull\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 9rem 0;

}

.wrapImg {
    width: 320px;
    height: 390px;
    border-radius: 12px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.img-about {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle1, .circle2 {
    background-color: #515BD4;
    width: 125px;
    height: 125px;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: -35px;
    left: 0;
    animation: circleAnimate1 6s infinite;
}

.circle2 {
    bottom: -35px;
    right: 0px;
    animation: circleAnimate2 6s infinite;
}

@keyframes circleAnimate1 {
    0% {
        transform: translate(0, 0);

    }

    50% {
        transform: translate(30px, -30px);


    }

    100% {
        transform: translate(0px, 0px);


    }
}

@keyframes circleAnimate2 {
    0% {
        transform: translate(0px, 0px);

    }

    50% {
        transform: translate(-30px, 30px);


    }

    100% {
        transform: translate(0px, 0px);


    }
}
.cardHero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardGlass {
    background: linear-gradient(120.48deg, rgba(255, 255, 255, 0.5) 1.35%, rgba(255, 255, 255, 0.2) 98.97%);
    backdrop-filter: blur(10px);
    border-radius: 0.75rem;

        &__wrap {
            position: relative;
            width: 124px;
            height: 124px;
            border-radius: 50%;
            overflow: hidden;
        }
            &__avatarImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &__Title{
                font-weight: 600;
                font-size: 1rem;
                color: $primary;
            }
            &__subtitle {
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.375rem;
                color:  $text-color;
            }
            &__button1,
            &__button2 {
                &:hover {
                    background-color: #3642DA;
                }
            }
            &__description {
                font-size: 0.875rem;
                line-height: 22px;
            }
            &__date {
                font-weight: 600;
                margin-bottom: 0.25rem;
            }
            &__post {
                margin-bottom: 1rem;
            }
            &__servicesIcon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__contact {
                transition: all 0.2s ease-in;
                    &:hover {
                        transform: scale(1.03);
                        box-shadow: 0px 6px 12px rgba(208, 208, 208, 0.65);
                    }
                    &:active {
                        transform: scale(0.99);
                        box-shadow: 0px 6px 12px rgba(208, 208, 208, 0.65);
                    }
            }
    }

    .icon-uxui {
        background: #FADCAA;
        border: 1px solid #FCA311;
    }

    .icon-app {
        background: #BFC3EC;
        border: 1px solid #525CD4;
    }

    .icon-dev{
        background: #F2C6D8;
        border: 1px solid #D92B7D;
    }

    .general-section {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        padding: 9rem 0;
    }

    .sectionAboutme {
        background-image: url('/img/background-light.png');
    }

    .section-skillExperience {
        background-image: url('/img/Rectangle\ 122.png');
    }

    .sectionPortfolio {
        background-image: url('/img/background-section-light.png');
    }

    .sectionServices {
        background-image: url('/img/Rectangle\ 122.png');
    }

    .sectionContact {
        background-image: url('/img/background-light.png');
    }

    .background-glass {
        background: linear-gradient(95.66deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.3) 100%);
        box-shadow: 0px 6px 12px rgba(208, 208, 208, 0.25);
        border-radius: 0.75rem;
    }

    .title-section {
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.375rem;
        color: $primary;
    }

    .card {
        border: none;
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 0.625rem;
        background: #f9f9f9;
    }

    ::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        border-radius: 0.75rem;
    }


    @media screen and (max-width: 992px) {
        .Color-nav {
            background: linear-gradient(120.48deg, rgba(255, 255, 255, 0.5) 1.35%, rgba(255, 255, 255, 0.2) 98.97%) !important;
            box-shadow: 0px 6px 12px rgba(208, 208, 208, 0.65);
            backdrop-filter: blur(10px);
        }

        .wrapImg {
            width: 254px;
            height: 350px;
        }

        .title-section {
            font-size: 1.625rem
        }

        .general-section {
            padding: 6rem 0;
        }
    }

    @media screen and (max-width: 353px) {
        .icon-football, .icon-gym {
            margin-bottom: .5rem;
        }
    }

    @media (min-width: 354px) and (max-width: 416px) {
        .icon-football, .icon-gym, .icon-lettering{
            margin-bottom: .5rem;
        }
    }