$body-bg: #FAFBFC;
$primary: #515BD4;
$navbar-light-color : #3a517d;
$text-muted: #C7C4C4;
$link-color: #3a517d;
$text-color: #3A517D;

$enable-shadow: true;
$enable-gradients: true;
$btn-border-radius: 0.625rem;

$spacer: 1rem !default;
$spacers: () !default;
$new-spacers:
(
  6: ($spacer * 3.5),
  7: ($spacer * 4),
  8: ($spacer * 5),
  9: ($spacer * 8),
  10: ($spacer * 10)
);
$spacers: map-merge($new-spacers, $spacers);


@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "global";